node_modules/
.env
venv/
__pycache__/
*.pyc
uploads/
dist/
build/

# Python
__pycache__/
*.pyc
venv/
.env

# ML models (DO NOT PUSH)
*.h5
*.pt
*.pth
*.pkl
*.joblib
*.keras

# datasets (VERY IMPORTANT)
data/
dataset/

# misc
*.log